@import '../../utils/colors';
@import '..//../utils/mediaQuery';

.activity {
    //width: 100%;

    padding: 24px 26px 20px 100px;
    background: $lightGrey;
    border-radius: 5px;
    @include media-query(xlarge) {
        padding: 24px 26px 20px 30px;
    }

    &__title {
        font-size: 15px;
        color: $darkGrey;
    }
    & .recharts {
        &-legend-item {
            margin-left: 30px;
            &-text {
                color: $grey !important;
            }
        }

        &-surface {
            margin-right: 10px !important;
        }
    }
    & .tooltip {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 63px;
        width: 39px;
        background: $primary-red;
        color: $white;
        font-size: 7px;

        & p {
            text-align: center;
        }
    }
}
