@import '../../utils/colors';

.accueil {
    margin-top: -50px;
    font-size: 48px;
    font-weight: inherit;
    padding-left: 32px;
    &__firstName {
        color: $primary-red;
    }
    &__congratulations {
        font-size: 18px;
        font-weight: 400;
        margin-top: -50px;
    }
}
