@import '../../utils/colors';
@import '../../utils/mediaQuery';
.averageSessions {
    height: 43%;
    width: 20%;
    background: $primary-red;
    border-radius: 5px;
    margin-left: 100px;

    @include media-query(xlarge) {
        margin-left: 30px;
    }
    &__tooltip {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 25px;
        background: $white;
        font-size: 8px;
    }

    &__legend {
        color: $white;
        opacity: 0.5;
        max-width: 147px;
        list-style: none;
    }

    & .recharts {
        &__line {
            transform: translateX(12px);
        }
    }
    // &__charts {
    //     width: 20%;
    //     height: 43%;
    // }
}
