@import '../../utils/colors';

.activity {
    width: 100%;
    height: 52%;
    margin-top: 77px;
    padding-left: 107px;
    &__title {
        margin-left: 50px;
        font-weight: 500;
        font-size: 15px;
        color: $darkGrey;
    }
    & .recharts {
        &-legend-item {
            margin-left: 30px;
            &-text {
                color: $grey !important;
            }
        }

        &-surface {
            margin-right: 10px !important;
        }
    }
}
